<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <script>
        document.getElementById("addTracking").onclick = function() {
            var form = document.getElementById("myForm");
            var input = document.createElement("input");
            input.type = "text";
            input.placeholder = "Tracking ID"

            var br = document.createElement("br");
            form.appendChild(input);
            form.appendChild(br);
        }
    </script>
</head>
<body>
    <div class="hero-image">
        <div class="hero-text">
            <h2> Zacar </h2>
            <form name="myForm" id="myForm" onsubmit="return validateForm()" method="POST">
                <br />
                <p>Seperate each tracking id with ,</p>
                <textarea type="text" name="tracking_number" placeholder="Tracking ID" pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{30,20}$/" title="Seperate By Commas" ></textarea>
                <br>
                <button class="button" type="submit" id="trackingid">Track</button>
                <br/>
            </form>
        </div>
    </div>

    <div class='container'>
        <table align='center' id='image_table'>
            <tr>
                <td></td>
                <td>Supported Mail Carriers:</td>
                <td></td>
            </tr>
            <tr>
            <td><img src="static/ups smaller.png" width="100" height="50"></img></td>
            <td><img src="static/fedex.png" width="200" height="100"></img></td>
            <td><img src="static/USPS.png" width="100" height="50"></img></td>
            </tr>
        </table>
    </div>
</body>

</html>