<!DOCTYPE HTML>
<html>
<head>
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/track.css') }}">
   <script>
      jQuery(document).ready(function(){
         jQuery(this).scrollTop(0);
      });
   </script>
</head>
<body>
   <div class="hero-image">
      <div class="hero-text">
         <h2> Zacar </h2>
      </div>
   </div>

   <div class='container'>
      <h4 style="color:black;">Package Tracking Information:</h4>
      <table class='info' align='center'>
         {% for package in result %}
            {% for info in package %}
               <tr>
                  <td> {{ info }} </td>
               </tr>
               
            {% endfor %}
         {% endfor %}
      </table>
   </div>

   <div class='container'>
   <br><br>
   <hr>
   <table align='center' id='image_table'>
      <tr>
            <td></td>
            <td>Supported Mail Carriers:</td>
            <td></td>
      </tr>
      <tr>
      <td><img src="static/ups smaller.png" width="100" height="50"></img></td>
      <td><img src="static/fedex.png" width="200" height="100"></img></td>
      <td><img src="static/USPS.png" width="100" height="50"></img></td>
      </tr>
   </table>
   </div>
</body>

</html>

